*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: #fff;
  padding: 0px 50px 20px 50px;
}

nav{
  font-family: 'Campton', 'Montserrat', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  background: #f2f2f2;
  margin: 0px -50px 0px -50px;
  padding: 15px 57px;
}

.navul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5px;
}

nav a{
  text-decoration: none;
}

li{
  list-style: none;
  margin-left: 20px;
}

nav img{
  height: 14px;
  width: 14px;
  margin-left: -7px;
}

.newrel{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  margin: 0px auto;
  font-family: 'Campton', 'Montserrat', sans-serif;
  font-size: 15px;
}

.nikelogo{
  height: 20px;
  width: 50px;
}

.newrelul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 7px 0px 0px 150px;
}

.topicons{
  display: flex;
}

input{
  height: 30px;
  border: none;
  width: 130px;
  background: #f2f2f2;
  border-radius: 20px;
  position: relative;
  padding-left: 30px;
  padding-top: 2px;
}

input[type="text"]::placeholder{
  color: #ddd;
}

.search{
  position: absolute;
  height: 17px;
  width: 17px;
  margin: 7px 0px 0px 7px;
}

.heart, .bag{
  height: 17px;
  width: 17px;
  margin: 7px 0px 0px 20px;
}

.landed{
  font-family: 'Campton', 'Montserrat', sans-serif;
  background: #f2f2f2;
  color: #000;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  margin: 0px -50px 0px -50px;
}

.landed a{
  color: #000;
}

.nikerunners{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.firstaccess{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.accesspeg{
  text-align: center;
}

.accesspeg p{
  font-family: 'Campton', 'Montserrat', sans-serif;
  font-size: 15px;
}

h2{
  font-family: 'Anton', 'Bebas Neue', sans-serif;
  font-size: 4em;
  line-height: 62px;
  margin-top: 5px;
}

.firstbtns{
  margin-top: 30px;
}

button{
  border: none;
  background: #000;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 5px;
}

main{
  margin-top: 70px;
}

.gear{
  display: flex;
  justify-content: space-between;
}

.gear p{
  font-family: 'Campton', 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 23px;
}

.fandbbtns img{
  border-radius: 100%;
  background: #f2f2f2;
  padding: 15px 20px;
  margin-left: 10px;
}

.fandbbtns img:hover{
  cursor: pointer;
}

.nshoesrow{
  display: flex;
  gap: 13px;
  margin-top: 10px;
  margin-right: -20px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #39393a;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

/* ::-webkit-scrollbar-button {
    display: block;
    width: 5px;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
} */

.nshoe img{
  background: #f2f2f2;
}

.nshoe img{
  height: 29em;
}

figcaption {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  font-family: 'Campton', 'Montserrat', sans-serif;
  font-size: 11px;
}

figcaption div{
  display: flex;
  justify-content: space-between;
}

figcaption p:first-of-type{
  display: block;
}

figcaption > p{
  color: grey;
  margin-top: -5px;
}

.tailored{
  font-family: 'Campton', 'Montserrat', sans-serif;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
}

.tailored > p{
  font-weight: 500;
  font-size: 23px;
}

.bpeople{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.tailored-imgs{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  padding-right: 10px;
}

.bperson{
  position: relative;
  width: 100%;
}

.bperson img{
  width: 100%;
  height: 100%;
}

.bperson p{
  position: absolute;
  bottom: 117px;
  left: 45px;
  color: #fff;
}

.bperson button{
  position: absolute;
  left: 45px;
  bottom: 47px;
  background: #fff;
  color: #000;
  font-size: 17px;
}

.trending{
  margin-top: 100px;
}

.lbtn, .lbutton{
  transform: rotate(180deg);
}

.dontmiss{
  margin-top: 100px;
  font-family: 'Campton', 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.dontmiss img{
  margin-top: 25px;
  width: 100%
}

.flyknit p:last-of-type{
  margin-top: 20px;
  font-size: 20px;
}

.discov{
  margin-top: 100px;
}

.discov > p{
  font-size: 23px;
  font-weight: 500;
  font-family: 'Campton', 'Montserrat', sans-serif;
}

.discov-imgs{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-top: 30px;
}

.discov-img1{
  background: #ffb077;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discov-img2{
  background: #dd3f28;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dis{
  position: relative;
  font-family: 'Campton', 'Montserrat', sans-serif;
}

.dis p{
  position: absolute;
  bottom: 117px;
  left: 45px;
  color: #fff;
}

.dis button{
  position: absolute;
  left: 45px;
  bottom: 47px;
  background: #fff;
  color: #000;
  font-size: 17px;
}

.wnbtn{
    background: #fff;
    position: absolute;
    padding: 25px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
}

.bnbtn{
  background: #000;
  position: absolute;
  height: 75px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
}

.wnike{
  width: 100px;
  height: 100px;
  margin-top: -23px;
  margin-left: 5px;
}

.bnbtn p{
  bottom: 21px;
  left: 25px;
  font-family: 'Anton', 'Bebas Neue', sans-serif;
  font-weight: lighter;
}

.join-us{
  margin-top: 100px;
}

.join-us > p{
  font-family: 'Campton', 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 500;
}

.xyz{
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.mh{
  background: #f0eadc;
  font-family: 'Campton', 'Montserrat', sans-serif;
  padding: 40px 30px 0px 40px;
  position: relative;
  width: 50%;
  height: 300px;
}

.mh img{
  position: absolute;
  top: 30px;
  right: 30px;
}

.mh p:first-of-type{
  font-size: 23px;
}

.mh p:last-of-type{
  margin-top: 30px;
}

.mh button{
  margin-top: 30px;
  font-size: 17px;
}

.lpic{
  width: 50%;
}

.lpic img{
  width: 100%;
  height: 300px;
}

button:hover{
  cursor: pointer;
}

.clothing-bottom{
  font-family: 'Campton', 'Montserrat', sans-serif;
  margin-top: 80px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: left;
}

.cbody{
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.cbodytext p{
  margin-top: 10px;
  color: grey;
}

.cbodytext p:first-child{
  margin-bottom: 25px;
  color: #000;
}

.footer{
  height: 300px;
  background: #000;
  margin: 65px -50px 0px -50px;
  padding: 40px 90px 20px;
  color: #0f0a05;
}

.footerup{
  display: flex;
  justify-content: space-between;
}

.footerup1{
  display: flex;
  justify-content: space-between;
}

.fup1 h3{
  font-family: 'Antonio', 'Bebas Neue', sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 35.5px;
  color: white;
}

.fup2 h3{
  font-family: 'Antonio', 'Bebas Neue', sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.fup2 h3{
  color: #fff;
}

.fup2 p{
  font-family: 'Campton', 'Montserrat', sans-serif;
  font-size: 12px;
  color: grey;
  margin-top: 15px;
}

.fup1, .fup2{
  margin-right: 150px;
}

.footerup2 img{
  margin-left: 15px;
}
